<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Fees - EGTI Zimbabwe</title>
    <meta content="Transparent fees: Registration $100, diploma $600/semester, degree $4,500, masters $900/semester, PhD $2,800. Flexible payment plans available." name="description">
    <meta content="Fees" property="og:title">
    <meta content="Transparent fees: Registration $100, diploma $600/semester, degree $4,500, masters $900/semester, PhD $2,800. Flexible payment plans available." property="og:description">
    <meta content="Fees" property="twitter:title">
    <meta content="Transparent fees: Registration $100, diploma $600/semester, degree $4,500, masters $900/semester, PhD $2,800. Flexible payment plans available." property="twitter:description">
    <meta property="og:type" content="website">
    <meta content="summary_large_image" name="twitter:card">
    <th:block th:with="wfPageId='6997cd76cb27fa7dc59e640e'"></th:block>
</head>
<body class="body-2">
    <div layout:fragment="content" class="w-layout-blockcontainer container-3 w-container">
        <header class="header-style-3">
            <div class="frame-2">
                <div class="frame-8">
                    <div class="text-30">Fees</div>
                </div>
            </div>
            <div class="rectangle-3"></div>
        </header>
        <main class="main">
            <div class="fees-header-2">
                <div class="text-31">Fees Structure</div>
            </div>
            <!-- Rest of fees content would go here -->
            <p>Fees page content would continue here...</p>
        </main>
    </div>
</body>
</html>