<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Programs - EGTI Zimbabwe</title>
    <th:block layout:fragment="head">
        <meta content="Explore theology programs: Diplomas (24 months), Degrees (36 months), Masters (48 months), PhD (60 months). Full-time and online options available." name="description">
        <meta content="Programs" property="og:title">
        <meta content="Explore theology programs: Diplomas (24 months), Degrees (36 months), Masters (48 months), PhD (60 months). Full-time and online options available." property="og:description">
        <meta content="Programs" property="twitter:title">
        <meta content="Explore theology programs: Diplomas (24 months), Degrees (36 months), Masters (48 months), PhD (60 months). Full-time and online options available." property="twitter:description">
        <meta property="og:type" content="website">
        <meta content="summary_large_image" name="twitter:card">
        <th:block th:with="wfPageId='6996f6ac836e318eb72a07a7'"></th:block>
    </th:block>
</head>
<body class="body">
    <main layout:fragment="content" class="w-layout-blockcontainer programs-container w-container">
        <header class="header-style">
            <div class="header-style-2">
                <div class="header-text">
                    <div class="text-11">Programs</div>
                </div><img src="images/Rectangle-1.png" loading="lazy" width="1440" height="265" alt="" srcset="images/Rectangle-1-p-500.png 500w, images/Rectangle-1-p-800.png 800w, images/Rectangle-1-p-1080.png 1080w, images/Rectangle-1.png 1440w" sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px" class="rectangle-1">
            </div>
        </header>
        <section class="offer-overview">
            <div class="programs-header">
                <div class="text-12">PROGRAMS ON OFFER</div>
            </div>
            <div class="overview">
                <div class="container-2">
                    <div class="frame-1">
                        <div class="text-13">ACADEMICS</div>
                    </div>
                    <div class="explore-courses">Explore  Courses</div>
                    <div class="body-text-white top-programs">Explore our full range of programs</div>
                </div><img src="images/Image_1.png" loading="lazy" width="489" height="434" alt="" srcset="images/Image_1-p-500.png 500w, images/Image_1.png 565w" sizes="(max-width: 767px) 100vw, 489px" class="rectangle-1 flag-header">
            </div>
        </section>
        <section class="diploma-courses">
      <div class="header-block-4">
        <div class="fa-solidscroll-4"><img src="images/Vector_3.svg" loading="lazy" width="45" height="36" alt="" class="glyph-icon"></div>
        <div class="course-header">Diploma Courses</div>
      </div>
      <div class="coursse-description">All diploma courses are for a period of 24 months on a full-time in-class student, while online students will need 30months to complete these comprehensive courses. We do offer block release for online students once in 3 months at the campus in Harare.
      </div>
      <ul role="list" class="list-2">
        <li class="list-item">Diploma in Theology</li>
        <li class="list-item">Diploma in Intercultural studies and Theology (2years)</li>
        <li class="list-item">Diploma in higher education in theology, ministry and mission</li>
        <li class="list-item">Post Graduate Diploma I Christian theology</li>
        <li class="list-item">Higher Diploma in Biblical-Oriental  Science and Archaeology</li>
        <li class="list-item">Diploma in Christian ministry and theology</li>
        <li class="list-item">Diploma in Theology, logic and Philosophy</li>
        <li class="list-item">Post graduate Diploma in Hebrew and Jewish studies</li>
        <li class="list-item">Diploma in Biblical counseling</li>
        <li class="list-item">Masters Diploma in Biblical counseling</li>
        <li class="list-item">Advanced Diploma in ministry.</li>
        <li class="list-item">Diploma in higher education Theology .</li>
      </ul>
    </section>
    <section class="degree-programs">
      <div class="header-block-3">
        <div class="glyph-icon"><img src="images/Vector_2.svg" loading="lazy" width="59" height="36" alt="" class="glyph-icon"></div>
        <div class="course-header">Degree Programs</div>
      </div>
      <div class="degree-courses-will-take-36-months-non-stop-or-in-class-students-while-online-student-will-take-42-m">
        <div class="degree-courses-will-take-36-months-non-stop-or-in-class-students-while-online-student-will-take-42-m"><span class="coursse-description">Degree courses will take 36 months non stop or in class students while online student will take 42 months of study with block release facility as well. Those coming in with diplomas from other institutes will sit for entry exams that will determine their enrollment. Transcripts will be required for exemption purposes.
          </span></div>
      </div>
      <ul role="list" class="list-2">
        <li class="list-item">Bachelor of Divinity</li>
        <li>Bachelor of Theology and Philosophy</li>
        <li>Bachelor of Christian Theology</li>
        <li>Bachelor of Christian Ministry and Theology</li>
        <li class="list-item">Bachelor of Theology Logic and Philosophy</li>
        <li class="list-item">Bachelor of Biblical Counseling</li>
        <li class="list-item">Bachelor of Higher Education Theology</li>
        <li class="list-item">BA Religious Studies</li>
        <li class="list-item">BA Theology and Religious Studies.</li>
        <li class="list-item">BA Philosophy and Religion</li>
        <li class="list-item">BA Arts in Religion, Philosophy and Ethics</li>
        <li class="list-item">BS in Pastoral Ministries</li>
      </ul>
    </section>
    <section class="master-programs">
      <div class="header-block-2">
        <div class="octiconsparkles-fill-16"><img src="images/Vector_1.svg" loading="lazy" width="42" height="42" alt="" class="glyph-icon"></div>
        <div class="course-header">Masters Programs</div>
      </div>
      <div class="masters-degree-program-will-take-48-months-for-in-class-students-and-54-months-for-online-exemptions">
        <div class="masters-degree-program-will-take-48-months-for-in-class-students-and-54-months-for-online-exemptions"><span class="coursse-description">Masters Degree program will take 48 months for in class students and 54 months for online. Exemptions for these coming in with degrees will be evaluated.
          </span><span class="masters-degree-program-will-take-48-months-for-in-class-students-and-54-months-for-online-exemptions-3">
          </span></div>
      </div>
      <ul role="list" class="list-2">
        <li class="list-item">Masters of Theology</li>
        <li>Masters of Divinity and Biblical Studies(2years)</li>
        <li>Masters of Theological studies</li>
        <li>Masters of Sacred Theology</li>
        <li>Masters of Philosophy</li>
        <li>Masters Arts in Christian Ministry (M.A.C.M)(2YEARS)</li>
        <li class="list-item">Masters in Comparative Religion/comparative Christian Theology</li>
        <li class="list-item">Masters of Arts</li>
        <li class="list-item">Masters of Ministry</li>
        <li class="list-item">Masters of Arts in Christian Ministries</li>
      </ul>
    </section>
    <section class="phd-programs">
      <div class="header-block">
        <div class="fa-solidscroll-2"><img src="images/game-iconsmicroscope_1.svg" loading="lazy" width="50" height="51" alt="" class="glyph-icon"></div>
        <div class="course-header">PHD Programs</div>
      </div>
      <div>
        <div class="phd-degrees-will-take-60-months-of-study-research-and-final-thesis-and-dissertation-phd-program-ph"><span class="coursse-description">Phd degrees will take 60 months of study , research and final thesis and dissertation .</span></div>
      </div>
      <ul role="list" class="list-2">
        <li class="list-item">Phd Theology
        </li>
        <li class="list-item">Phd Divinity</li>
        <li class="list-item">Phd Philosophy and religion</li>
        <li class="list-item">Phd Theology and religious studies</li>
        <li class="list-item">Phd religious studies</li>
        <li class="list-item">Phd theology and religion integrated</li>
      </ul>
    </section>
    <section class="apply-now-2">
      <div class="container-5">
        <div class="apply-now-header">Ready to enroll? Apply today.</div>
        <div class="text-block">
          <div class="apply-now-text">Start your journey today and be part an elite training environment in theology </div>
        </div>
        <div class="actions-3">
          <a href="#" target="_blank" class="button-style-9">
            <div class="text-29">Apply Now &gt;&gt;</div>
          </a>
        </div>
      </div>
      <div class="graduation-image">;</div>
    </section>
        <p>Programs page content would continue here...</p>
    </main>
</body>
</html>