<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="footer">
    
   <!-- Footer Fragment -->
      
    <footer class="footer-2">
    <div class="columns">
      <div class="logo-wrapper"><img width="200" height="200" alt="" src="images/EGTI-Logo.svg" loading="lazy" class="logo-2"></div>
      <div class="links-wraper f2wf-small-columns">
        <div class="column-11">
          <div class="content-style-4">
            <div class="footer-header">EGTI</div>
            <div class="footer-links">
              <div class="link-style"><a th:href="@{/programs}">Programs</a></div>
              <div class="link-style"><a th:href="@{/about}">About</a></div>
            </div>
          </div>
        </div>
        <div class="column-11">
          <div class="content-style-4">
            <div class="footer-header">ACADEMICS</div>
            <div class="footer-links">
              <div class="link-style"><a th:href="@{/programs}">Programs</a></div>
              <div class="link-style"><a th:href="@{/fees}">Fees</a></div>
               <div class="link-style"><a th:href="@{/apply}">Apply</a></div>
            </div>
          </div>
        </div>
        <div class="column-11">
          <div class="content-style-4">
            <div class="footer-header">ABOUT</div>
            <div class="link">
              <div class="link-style"><a th:href="@{/about}">Profile</a></div>
              <div class="link-style"><a th:href="@{/about}">About Us</a></div>
              <div class="link-style">Contact Us</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="copy-text">Copyright © 2026 EGTI Zimbabwe</div>
    </div>
  </footer>

    </div>
</body>

</html>