<div th:fragment="navbar" xmlns:th="http://www.thymeleaf.org">
  <!-- navbar fragment-->

      <div
        data-animation="default"
        class="navbar-frame navbar-2 w-nav"
        data-easing2="ease"
        data-wf-component-id="67bcdb9b-cd32-1d34-1c83-c663986755a6"
        data-wf-target='[[["67bcdb9b-cd32-1d34-1c83-c663986755a6","67bcdb9b-cd32-1d34-1c83-c663986755a6"],["a588601d-2dec-9a81-de7b-43c943f48c6b"]]]'
        data-easing="ease"
        data-collapse="medium"
        role="banner"
        data-duration="400"
      >
        <nav class="navigation">
          <div class="navigation-2">
            <div class="navbar">
              <div class="navbarcontainer w-container">
                <div class="navbar-content">
                  <a th:href="@{/}" class="navbar-brand">
                    <img
                      width="65"
                      height="65"
                      alt="EGTI Zimbabwe Home"
                      src="images/Logo.png"
                      loading="lazy"
                      class="logo"
                    />
                  </a>
                  <nav role="navigation" class="navbar-menu w-nav-menu">
                    <a th:href="@{/}" class="navbar-link w-nav-link">
                      <div class="text">Home</div>
                    </a>
                    <div
                      data-hover="1"
                      data-delay="100"
                      class="text w-dropdown"
                    >
                      <div class="dropdown-toggle w-dropdown-toggle">
                        <div
                          data-wf-target='[[["67bcdb9b-cd32-1d34-1c83-c663986755a6","366d37f6-746c-ee65-0650-012a450d6f8d"],["a588601d-2dec-9a81-de7b-43c943f48c6b"]]]'
                          class="icon w-icon-dropdown-toggle"
                        ></div>
                        <div class="text-block-4">Academics</div>
                      </div>
                      <nav class="dropdown-list w-dropdown-list">
                        <a th:href="@{/fees}" class="dropdown-link w-dropdown-link">Fees</a>
                        <a th:href="@{/programs}" class="dropdown-link w-dropdown-link">Programs</a>
                      </nav>
                    </div>
                    <a th:href="@{/about}" class="navbar-link w-nav-link">
                      <div class="text">About Us</div>
                    </a>
                    <a href="#" class="navbar-link w-nav-link">
                      <div class="text">Contact Us</div>
                    </a>
                  </nav>
                </div>
                <div class="w-nav-button">
                  <div class="w-icon-nav-menu"></div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>

</div>
