<div th:fragment="navbar" xmlns:th="http://www.thymeleaf.org">
  <!-- navbar fragment-->

      <div
        data-animation="default"
        class="navbar-frame navbar-2 w-nav"
        data-easing2="ease"
        data-wf-component-id="67bcdb9b-cd32-1d34-1c83-c663986755a6"
        data-wf-target='[[["67bcdb9b-cd32-1d34-1c83-c663986755a6","67bcdb9b-cd32-1d34-1c83-c663986755a6"],["a588601d-2dec-9a81-de7b-43c943f48c6b"]]]'
        data-easing="ease"
        data-collapse="medium"
        role="banner"
        data-duration="400"
      >
        <nav class="navigation">
          <div class="navigation-2">
            <div class="navbar">
              <div class="navbarcontainer w-container">
                <div class="navbar-content">
                  <a th:href="@{/}" class="navbar-brand">
                    <img
                      width="65"
                      height="65"
                      alt="EGTI Zimbabwe Home"
                      src="images/Logo.png"
                      loading="lazy"
                      class="logo"
                    />
                  </a>
                  <nav role="navigation" class="navbar-menu w-nav-menu">
                    <a th:href="@{/}" class="navbar-link w-nav-link">
                      <div class="text">Home</div>
                    </a>
                    <a th:href="@{/programs}" class="navbar-link w-nav-link">
                      <div class="text">Programs</div>
                    </a>
                    <a th:href="@{/fees}" class="navbar-link w-nav-link">
                      <div class="text">Fees</div>
                    </a>
                    <a th:href="@{/apply}" class="navbar-link w-nav-link">
                      <div class="text">Apply</div>
                    </a>
                    <a th:href="@{/about}" class="navbar-link w-nav-link">
                      <div class="text">About Us</div>
                    </a>
                  </nav>
                </div>
                <div class="w-nav-button">
                  <div class="w-icon-nav-menu"></div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>

</div>
